/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
NAVIGATION STYLES
*********************/
.nav-wrapper {
  //hide mobile control when 768up
  a.mobile-nav-control, a.mobile-sidebar-control {
    display: none;
  }
}
.nav {
  //Navigation shows original styles when 768up
  display: block;
  &.active {
    display: block;
    position: static;
    left: inherit;
    top: inherit;
    width: 100%;
    background-color: #ffffff;
    z-index: 99;
    @include box-shadow(none);
    li {
      border-bottom: 1px solid $light-gray;
    }
  }
  li {
    a {
      border-bottom: 0;

      /*
      you can use hover styles here even though this size
      has the possibility of being a mobile device.
      */
      &:hover, &:focus {
        background-color: $gray;
      }
    }
  }
}
.sidebar {
  display: block;
}

