/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/*********************
POSTS & CONTENT STYLES
*********************/

.hentry {
  @include gallery(4 of 12);
}
/* entry content */
.entry-content {
  padding: 0 0 0 0;
  font-size: 1.1em;
}
.sidebar-left {
  display: block;
  overflow: hidden;
  &.active {
    position: static;
    @include span(2 of 12);
    padding: 0;
    @include box-shadow(none);
    .widget {
      text-transform: uppercase;
      @include full;
      margin: 0!important;
    }
  }
}
